.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 19rem);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    list-style: none;
}

