.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 19rem);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    list-style: none;
}

.wishlist {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .wishlist a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .wishlist a:hover {
    color: #f1f1f1;
  }
  
  .wishlist .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .wishlist {padding-top: 15px;}
    .wishlist a {font-size: 18px;}
  }